body {
    background: url(./imgs/pata.jpg);
}


.container {
    display: flex; 
    width: 100vw; 
    height: 70px; 
    justify-content: space-between; 
    align-items: center; 
    background: #000000;

}

.titulo {
    display: flex; 
    align-items: center; 
    width: 70%;
    height: 100%;
    background: #000000;
    font-size: 30px;
    font-family: Helvetica, sans-serif; 
    font-weight: bold; 
    color: #FFCC00;
    margin: 10%;
  
}

.titulo:hover {
    font-size: 40px;
}

.navbar {
    display: flex; 
    justify-content: space-evenly; 
    width: 30%;
    height: 100%;
    align-items: center; 
    font-family: helvetica, sans-serif; 
    font-size: 15px;
    font-weight: bold; 
    color: #FFCC00;

}

.menu:hover {
    color: #FF7519;
}

.escolha {
    background: #000000;
    width: 50%;
    height: 20px;
    margin: auto; 
   border-radius: 10px;
}

.titulofotos {
    text-align: center; 
    margin: 20px 0 20px 0 ; 
    font-size: 20px; 
    font-family: Helvetica, sans-serif; 
    font-weight: bold; 
    color: #FFCC00;

}

.container2 {
    width: 80%;
    display: flex; 
    flex-wrap: wrap;
    justify-content: center; 
    align-content: center;
    margin: auto; 
}

.pet {
    width: 200px; 
    height: 250px;
    margin: 10px 10px 30px 10px;
    border-radius: 10px;

}

.adote {
    display: flex;
    flex-direction: column;
}

.bt {
    text-align: center;
    font-family: Helvetica, sans-serif; 
    font-weight: bold; 
    color: #FFCC00;
    background: #000000; 
    padding: 10px;
    position: relative;
    bottom: 25px;
    margin: auto;
    border-radius: 10px; 
    cursor: pointer; 
}

.bt:hover {
    background: #FF7519;
    
}

.rodape{
    width: 100vw; 
    height: 80px; 
    background: #000000; 
}

.copyright {
    text-align: center; 
    color: #FFCC00;
    font-family: Helvetica, sans-serif; 
    font-weight: bold; 
    padding: 20px;

}


@media (max-width: 700px) {
    nav {
        flex-direction: column; 
    }

    .titulo {
        display: none; 
    }
}

